
 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font1 {
  font-family: 'Space Grotesk', sans-serif;
}

/* Logo styling for all screen sizes */
.navbar-logo {
  height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  transition: all 0.3s ease;
}

/* Logo styling for large screens (1024px and above) */
@media (min-width: 1024px) {
  .navbar-logo {
    height: 25px;
    margin: 30px;
  }
}

.nav-link {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 6px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  height: 2px;
  background-color: white;
  width: 0%;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  animation: heartbeat116 1.5s ease-in-out 0.3s infinite;
}

@keyframes heartbeat116 {
  0%, 100% {
    width: 100%;
  }
  50% {
    width: 60%;
  }
}

/* Mobile navigation styling */
