@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-link {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 6px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
 
  bottom:4px;
  height: 2px;
  background-color: white;
  width: 0%;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  animation: heartbeat116 1.5s ease-in-out 0.3s infinite;
}

@keyframes heartbeat116 {
  0%, 100% {
    width: 100%;
  }
  50% {
    width: 60%;
  }
} 